{% extends "frontends/base.html" %}

{% block content %}


<div class="page-title full-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h2 class="title">Links úteis</h2>
                </div>
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /page-title -->





<!-- Começa aqui o conteúdo -->
<section class="flat-row padding-v1">
    <div class="container">
        <div class="row">                             
            <div id="content" class="col-md-9">                                
                
                {% if links %}                        
                    {% for link in links %} 
                    <!-- Link - início -->
                    <div class="event-listing event-listing-classic">
                        <article class="post-item row event-classic-item">
                            <div class="col-md-12 col-sm-12">
                                <div class="content-pad">
                                    <div class="item-content">
                                        <div class="price main-color-1">{{ link.description }}</div>
                                    </div>
                                    <div class="item-meta">
                                        <a class="flat-button" target="_blank" href="{{ link.link }}"><i class="fa fa-angle-right"></i> &nbsp; {{ link.link }}</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- Link - fim -->
                    {% endfor %}
                {% else %}
                    Nenhum Link Encontrado.
                {% endif %} 
                    
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="widget widget-courses">
                        <h2 class="widget-title">Contatos</h2>
                            <div class="text">
                                <a href="#"><i class="fa fa-envelope"></i> &nbsp;registrocivilpatos@gmail.com</a>
                            </div>
                            <div class="text">
                                <a href="https://api.whatsapp.com/send?phone=5534998357168&text=Ol%C3%A1!" target="_BLANK"><i class="fab fa-whatsapp"></i> &nbsp;(34) 9 9835-7168</a>
                            </div>
                            <div class="text">
                                <a href="#"><i class="fa fa-phone"></i> &nbsp;(34) 3823-1445</a>
                            </div>
                            <div class="text">
                                <br>
                                <p><i class="fas fa-map-marker-alt"></i> &nbsp;Rua Dr. Marcolino nº 139 – Centro – Patos de Minas – MG – CEP 38700-160</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Termina aqui o conteúdo -->
   
{% endblock %}