{% extends "frontends/base.html" %}

{% block content %}

<div class="page-title full-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h2 class="title">Contato</h2>
                </div>
                                 
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div>

<section class="main-content contact-posts">
    <div class="container">
        <div class="row">
            <div class="post-contact">
                <div class="col-md-9">
                    <div class="contact-form">
                        <form action="./contact/contact-process.php" method="post" id="contactform" class="comment-form" novalidate="">                            
                            <fieldset class="style-1 full-name">
                                <input type="text" id="name" placeholder="Nome" class="tb-my-input" name="author" tabindex="1" value="" size="32" aria-required="true">
                            </fieldset>

                            <fieldset class="style-1 subject">
                                <input type="text" id="subject" placeholder="Telefone" class="tb-my-input" name="subject" tabindex="2" value="" size="32" aria-required="true">
                            </fieldset> 

                            <fieldset class="style-1 email-address">
                                <input type="email" id="email" placeholder="Email" class="tb-my-input" name="email" tabindex="2" value="" size="32" aria-required="true">
                            </fieldset> 

                            <fieldset class="message-form">
                                <textarea id="comment-message" placeholder="Mensagem" name="comment" rows="8" tabindex="4"></textarea>
                            </fieldset>

                            <div class="submit-wrap">
                                <button class="flat-button button-style style-v1">Send <i class="fa fa-angle-right"></i></button>
                            </div>             
                        </form>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="widget widget-courses">
                            <h2 class="widget-title">fale com a gente</h2>
                            <div class="text">
                                <a href="#"><i class="fa fa-envelope"></i> &nbsp;registrocivilpatos@gmail.com</a>
                            </div>
                            <div class="text">
                                <a href="#"><i class="fa fa-phone"></i> &nbsp;(34) 9 9835-7168</a>
                            </div>
                            <div class="text">
                                <a href="#"><i class="fa fa-phone"></i> &nbsp;(34) 3823-1445</a>
                            </div>
                            <div class="text">
                                <br>
                                <p><i class="fa fa-envelope"></i> &nbsp;Rua Dr. Marcolino, 139 – Centro, Patos de Minas – MG – CEP 38700-160</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d949.0373654487753!2d-46.517475737004794!3d-18.592354987798494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94aef5336a46aa7f%3A0xfd130e75ff156045!2sCart%C3%B3rio%20de%20Registro%20Civil%20de%20Patos%20de%20Minas!5e1!3m2!1spt-BR!2sbr!4v1611521895613!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    
{% endblock %}