{% extends "backends/base.html" %}

{% block content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-tachometer-alt"></i>
                      Painel de Controle
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    
                    <div class="callout callout-info">
                      <h5>Bem vindo ao gerenciador!</h5>
    
                      <p>Através dos menus você pode administrar as páginas do site.</p>
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
        </div>
        
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}