{% extends "frontends/base.html" %}

{% block content %}

<div class="page-title full-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h2 class="title">Sobre nóis</h2>
                </div>
                                 
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div>

<section class="main-content course-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <article class="post-course">
                    <div class="row">

                        <div class="col-md-12">
                            {{ principal.description }}
                        </div>

                    </div>
                </article>

            </div><!-- /col-md-9 -->
            <div class="col-md-3">
                <div class="sidebar">

                    <div class="widget widget-courses">
                        <h2 class="widget-title">{{ missao.name }}</h2>
                        <div class="text">
                            <p>{{ missao.description }}</p>
                        </div>
                    </div>

                    <div class="widget widget-courses">
                        <h2 class="widget-title">{{ visao.name }}</h2>
                        <div class="text">
                            <p>{{ visao.description }}</p>
                        </div>
                    </div>

                    <div class="widget widget-courses">
                        <h2 class="widget-title">{{ valores.name }}</h2>
                        <div class="text">
                            <p>{{ valores.description }}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</section>
    
{% endblock %}